[Unit]
Description=App Container

[Container]
Image=app
ContainerName=app
Environment=TZ=America/New_York

Environment=PORT=7845
PublishPort=0.0.0.0:7845:7845

Volume=%h/repos:/REPOS
Environment=REPOS_DIR=/REPOS

Volume=%h/artifacts:/ARTIFACTS
Environment=ARTIFACTS_DIR=/ARTIFACTS

Volume=%h/deployment-target:/app:ro
Exec=bun /app/server/server-bundle.min.js

# share host ssh keys for push to github.com
Volume=%h/.ssh:/root/.ssh:ro

Environment=USERS_FILE=/config/users.yaml
Volume=%h/.secrets/users.yaml:/config/users.yaml:ro

Volume=%h/certs:/certs:ro
Environment=TLS_CERT=/certs/cert.pem
Environment=TLS_KEY=/certs/key.pem

[Service]
Restart=always

[Install]
WantedBy=default.target
