[Unit]
Description=App Container

[Container]
Image=docker.io/oven/bun:1.4-alpine
ContainerName=app
Environment=ARTIFACT_DIR=@ARTIFACT_DIR@
Environment=TZ=America/New_York

Environment=PORT=7845
PublishPort=0.0.0.0:7845:7845

Volume=%h/repos:/REPOS
Environment=REPOS_DIR=/REPOS

Volume=%h/artifacts:/ARTIFACTS
Environment=ARTIFACTS_DIR=/ARTIFACTS

Volume=${ARTIFACT_DIR}:/APP:ro
Exec=bun /APP/server/server-bundle.min.js

# share host ssh keys for push to github.com
Volume=%h/.ssh:/root/.ssh:ro

Environment=ACL_FILE=/config/acl.yaml
Volume=%h/.secrets/acl.yaml:/config/acl.yaml:ro

Volume=%h/certs:/root/certs:ro
Environment=TLS_CERT=/root/certs/cert.pem
Environment=TLS_KEY=/root/certs/key.pem

[Service]
Restart=always

[Install]
WantedBy=default.target
